/** ========== PAGE RESTAURANT ========== **/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Shrikhand&display=swap");
.return_home {
  justify-self: flex-start;
  width: 30px;
  padding-left: 15px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

header {
  position: relative;
}
header img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 0px 0px 0px 0px;
}

#restaurant {
  position: relative;
  margin-top: -30px;
  padding: 30px 20px 0px 20px;
  background-color: var(--lightgrey);
  border-radius: 30px 30px 0px 0px;
  z-index: 10;
}
#restaurant h1 {
  font-family: "Shrikhand";
  font-size: 34px;
  line-height: 38px;
  font-weight: lighter;
}

.restaurant_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
}
.restaurant_button.input_button {
  padding: 15px 20px;
  background: var(--primary);
  background: linear-gradient(355deg, var(--primary) 0%, var(--primary) 20%, var(--secondary) 100%);
  border: none;
  border-radius: 50px;
  color: var(--text-button);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: rgba(112, 111, 111, 0.45) 0px 4px 6px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 80px;
}
.restaurant_button.input_button:hover {
  filter: brightness(1.08);
  box-shadow: rgba(59, 59, 59, 0.45) 0px 6px 8px 2px;
  transition: 0.6s ease-out;
  cursor: pointer;
}

#restaurant_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  padding-top: 30px;
}
.category h2 {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px;
  padding-left: 5px;
}
.category h2::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 3px;
  top: 26px;
  left: 5px;
  background-color: var(--tertiary);
}

.dish {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 80px;
  background-color: var(--white);
  border: none;
  border-radius: 15px;
  box-shadow: rgba(201, 201, 201, 0.45) 4px 4px 12px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish:hover {
  cursor: pointer;
}

.dish_container {
  width: 100%;
  min-width: 200px;
  padding: 10px;
}
.dish_container h3 {
  font-size: 20px;
  line-height: 32px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dish_container p {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dish_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  width: 60px;
  padding-left: 10px;
}

.form_menu {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -80px;
  width: 80px;
  height: 80px;
  border: 2px solid var(--tertiary);
  border-radius: 0px 15px 15px 0px;
  background-color: var(--tertiary);
  font-size: 16px;
  color: #FFF;
}

.form_menu:hover {
  background-color: var(--tertiary);
  cursor: pointer;
}

input[type=checkbox].menu_checkbox {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid var(--white);
  appearance: none;
  border-radius: 50px;
  background-color: var(--white);
  z-index: 1;
}

input[type=checkbox].menu_checkbox::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
  color: var(--tertiary);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

input[type=checkbox].menu_checkbox:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 20px;
  color: var(--primary);
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --anthracite: #353535;
  --mediumgrey: #eaeaea;
  --lightgrey: #f6f6f6;
  --text-color: #000;
  --text-button: #FFF;
  --text-color-new: #069c77;
  --white: #fff;
  --tablet: 700px;
  --desktop: 940px;
}

/** RESET **/
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--lightgrey);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/************* HEADER *************/
/* LOGO */
#logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 55px;
  background-color: var(--white);
  position: relative;
  box-shadow: rgba(119, 119, 119, 0.45) 0px 3px 5px 0px;
  z-index: 10;
}

#logo {
  font-family: "Shrikhand";
  color: var(--text-color);
  font-size: 32px;
  cursor: pointer;
}
#logo a {
  color: var(--text-color);
}

/* Search */
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50px;
  background-color: var(--mediumgrey);
  font-weight: 700;
}

.map_icon {
  display: inline-block;
  padding-right: 15px;
}

/* RESERVATION */
#resa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px 30px 20px;
}
#resa h1, #resa h2 {
  text-align: center;
  padding-bottom: 20px;
}
#resa h1 {
  font-size: 28px;
}
#resa h2 {
  font-weight: 400;
  font-size: 20px;
}

.input_button {
  padding: 15px 20px;
  background: var(--primary);
  background: linear-gradient(355deg, var(--primary) 0%, var(--primary) 20%, var(--secondary) 100%);
  border: none;
  border-radius: 50px;
  color: var(--text-button);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  box-shadow: rgba(112, 111, 111, 0.45) 0px 4px 6px 0px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.input_button:hover {
  filter: brightness(1.08);
  box-shadow: rgba(59, 59, 59, 0.45) 0px 6px 8px 2px;
  transition: 0.6s ease-out;
  cursor: pointer;
}

/********** ASIDE - RESERVATION *********/
aside {
  background-color: var(--white);
  padding: 0px 10px 40px 20px;
}
aside h3 {
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.item {
  width: none;
  height: 90px;
  background-color: var(--lightgrey);
  border: none;
  border-radius: 30px;
  box-shadow: rgba(201, 201, 201, 0.45) 0px 4px 10px 5px;
  margin: 15px 20px 30px 15px;
  display: flex;
  align-items: center;
}
.item p {
  font-size: 18px;
}

aside .number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: -15px;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

aside .item_icon {
  font-size: 22px;
  color: var(--anthracite);
  padding: 0px 25px;
}
aside .item_icon a {
  color: var(--primary);
}

/********** MAIN *********/
#home {
  padding: 10px 20px 20px 20px;
}
#home h3 {
  font-size: 28px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/*** FONCTIONNEMENT ***/
.card {
  position: relative;
  background-color: var(--white);
  height: 305px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0px 6px 12px 0px var(--mediumgrey);
}
.card h4 {
  font-size: 20px;
  line-height: 32px;
}
.card p {
  font-size: 20px;
}
.card a {
  color: var(--text-color);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0px 0px;
}

.infos {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.heart {
  font-size: 30px;
  margin: 4px 10px 0px 0px;
}

.card_new {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 40px;
  background-color: var(--tertiary);
  color: var(--text-color-new);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/********** FOOTER *********/
footer {
  padding: 25px;
  background-color: var(--anthracite);
  color: var(--white);
}
footer p {
  font-size: 20px;
  line-height: 30px;
}
footer a {
  color: var(--white);
}

.logo2 {
  font-family: "Shrikhand";
  font-size: 20px;
  padding-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
