// MIXINS

// CENTER HORIZONTALLY AND VERTICALY

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


// BUTTON FOR FORM WITH A GRADIENT AND A HOVER WITH SHADOW AND BRIGHTNESS

@mixin buttonForm($background, $linear-gradient1, $linear-gradient2, $linear-gradient3, $border-radius, $color, $margin-top, $margin-bottom, $brightness) {
    padding: 15px 20px;
    background: $background;
    background: linear-gradient(355deg, $linear-gradient1 0%, $linear-gradient2 20%, $linear-gradient3 100%);
    border:none;
    border-radius: $border-radius;
    color: $color;
    font-size : 18px;
    letter-spacing: 1px;
    font-weight: 500;
    box-shadow: rgba(112, 111, 111, 0.45) 0px 4px 6px 0px;
    margin-top:$margin-top;
    margin-bottom:$margin-bottom;
   
    &:hover {
        filter: brightness($brightness);
        box-shadow: rgba(59, 59, 59, 0.45) 0px 6px 8px 2px;
        transition: 0.6s ease-out;
        cursor:pointer;
    }
}

// BOX WITH ROUND CORNERS AND SHADOW

@mixin boxModel ($width, $height, $background-color, $border, $border-radius, $box-shadow){
    width: $width;
    height:$height;
    background-color: $background-color;
    border:$border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

// MIXIN TO RESIZE A IMAGE AND CHOOSE ITS BORDER

@mixin imgSize($width, $height, $object-fit, $object-position, $border-radius) {
    width: $width;
    height: $height;
    object-fit: $object-fit;
    object-position: $object-position;
    border-radius: $border-radius;
}

// MIXIN FOR TABLETS ONLY - RESPONSIVE

// @mixin tablet-only {
//     @media screen and (min-width:map-get($breakpoints, tablet)) {
//         @content;
//     }
// }

// MIXIN FOR DESTOP ONLY - RESPONSIVE

// @mixin desktop-only {
//     @media screen and (min-width:map-get($breakpoints, desktop)) {
//         @content;
//     }
// }

//MIXIN FOR TABLET ONLY - RESPONSIVE

@mixin tablet-only {
    @media screen and (max-width:#{$desktop}) and (min-width:#{$tablet}) {
        @content;
    }
}

//MIXIN FOR DESTOP ONLY - RESPONSIVE

@mixin desktop-only {
    @media screen and (min-width:#{$desktop}) {
        @content;
    }
}

// MIXIN FOR ROTATION

@mixin rotTurn($name, $duration, $delay) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: ease-in-out;
    animation-delay: $delay;
} 




