// MIXINS

// CENTER HORIZONTALLY AND VERTICALY

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin buttonForm($background, $linear-gradient1, $linear-gradient2, $linear-gradient3, $color) {
    padding: 15px 20px;
    background: $background;
    background: linear-gradient(355deg, $linear-gradient1 0%, $linear-gradient2 20%, $linear-gradient3 100%);
    border:none;
    border-radius: 50px;
    color: $color;
    font-size : 18px;
    letter-spacing: 1px;
    font-weight: 500;
}