// VARIABLES

// Couleurs

$primary-violet : #9356dc;
$secondary-pink : #ff79da;
$tertiary-green : #99e2d0;

// Background colors
$anthracite : #353535;
$mediumgrey : #eaeaea;
$lightgrey : #f6f6f6;
$white: #fff;

// Text color
$text-color: #000;
$text-button : #FFF;
$text-color-new: #069c77
