@import './variables';
@import './placeholders';
@import './mixins';
@import './functions';
@import './restaurant';

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Shrikhand&display=swap');

:root {
    --primary: #{$primary-violet};
    --secondary: #{$secondary-pink};
    --tertiary: #{$tertiary-green};
    --anthracite: #{$anthracite};
    --mediumgrey: #{$mediumgrey};
    --lightgrey: #{$lightgrey};
    --text-color: #{$text-color};
    --text-button: #{$text-button};
    --text-color-new: #{$text-color-new};
    --white: #{$white};
    --tablet: #{$tablet};
    --desktop: #{$desktop};
    // --breakpoints: #{$breakpoints};
}


/** RESET **/

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width:100%;
    margin:0 auto;
    color: var(--text-color);
    background-color: var(--lightgrey);
    font-family: "Roboto", Arial, Helvetica, sans-serif ;
}


/************* HEADER *************/


/* LOGO */

#logo_container {
    @include flexCenter(row);
    width:100%;
    height:55px;
    background-color: var(--white);
    position:relative;
    box-shadow: rgba(119, 119, 119, 0.45) 0px 3px 5px 0px;
    z-index: 10;
}

#logo {
    
    font-family: "Shrikhand";
    color: var(--text-color);
    font-size: 32px;
    cursor: pointer;

    a {
        color: var(--text-color);
    }
}

/* Search */ 

#search {
    @include flexCenter(row);
    height: 50px;
    background-color: var(--mediumgrey);
    font-weight:700;
}

.map_icon {
    display: inline-block;
    padding-right:15px;
}

/* RESERVATION */

#resa {
    @include flexCenter(column);
    padding: 50px 20px 30px 20px ;

    h1, h2 {
        text-align: center;
        padding-bottom: 20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-weight: 400;
        font-size: 20px;
    }
  }


.input_button {
    @include buttonForm(var(--primary), var(--primary), var(--primary), var(--secondary), 50px, var(--text-button), 20px, 40px, 1.08);
}


/********** ASIDE - FONCTIONING *********/

aside {
    display:flex;
    flex-direction:column;
    background-color: var(--white);
    padding: 0px 10px 40px 20px;

    h3 {
        display:inline-block;
        font-size:28px;
        padding-top:50px;
        padding-bottom:20px;
    }

    @include tablet-only {
        padding:0px 100px 40px 100px;
         }
}

.item {
    @include boxModel (none, 90px, var(--lightgrey), none, 30px, rgba(201, 201, 201, 0.45) 0px 4px 10px 5px);
    margin:15px 20px 30px 15px;
    display:flex;
    align-items:center;

    p {
            font-size:18px;
    }

    @include tablet-only {

        p {
            font-size:22px;
        }
    }
}

aside .number {
    height: 30px;
    width:30px;
    border-radius: 50%;
    margin-left: -15px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    @include flexCenter(row);

    @include tablet-only {
        height:40px;
        width:40px;
         }
}

aside .item_icon {
    font-size:22px;
    color: var(--anthracite);
    padding: 0px 25px;

    a {
        color: var(--primary);
    }
}


/********** MAIN *********/

#home {
    padding:10px 20px 20px 20px;

    h3 {
        display:block;
        font-size:28px;
        padding-top:50px;
        padding-bottom:20px;
    }
}

/*** RESTAURANT ***/

.home_restaurant {
    display:flex;
    flex-direction:column;

    @include tablet-only {
        flex-direction:row;
        flex-wrap:wrap;
        gap:40px;
        justify-content: center;
        }
    
}

.card {
    position: relative;
    background-color: var(--white);
    height: 305px;
    margin-bottom:30px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px 0px var(--mediumgrey);

    h4 {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        font-size : 20px;
    }
    a {
        color: var(--text-color);
    }

    @include tablet-only {
    width:300px;         
    }
}

.card img {
    @include imgSize(100%, 220px, cover, center, 20px 20px 0px 0px);
}

.infos {
    padding: 10px 20px 20px 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.heart {
    font-size:30px;
    margin: 4px 10px 0px 0px;
}

.card_new {
    position: absolute;
    top: 20px;
    right: 20px;
    width:100px;
    height:40px;
    background-color: var(--tertiary);
    color: var(--text-color-new);
    font-weight: 900;
    @include flexCenter(row);
}



/********** FOOTER *********/

footer {
    padding:25px;
    background-color: var(--anthracite);
    color: var(--white);

    p {
       font-size: 20px;
       line-height: 30px; 
    }

    a {
        color: var(--white);
    }
}

.logo2 {
    font-family: "Shrikhand";
    font-size: 20px;
    padding-bottom: 15px;

}
