@import './variables';
@import './placeholders';
@import './mixins';

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Shrikhand&display=swap');

:root {
    --primary: #{$primary-violet};
    --secondary: #{$secondary-pink};
    --tertiary: #{$tertiary-green};
    --anthracite: #{$anthracite};
    --mediumgrey: #{$mediumgrey};
    --lightgrey: #{$lightgrey};
    --text-color: #{$text-color};
    --text-button: #{$text-button};
    --text-color-new: #{$text-color-new};
    --white: #{$white};
    --tablet: #{$tablet};
    --desktop: #{$desktop};
    // --breakpoints: #{$breakpoints};
}


/** RESET **/

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width:100%;
    margin:0 auto;
    color: var(--text-color);
    background-color: var(--lightgrey);
    font-family: "Roboto", Arial, Helvetica, sans-serif ;
    position:relative;
}


/************* HEADER *************/


/* LOGO */

#logo_container {
    @include flexCenter(row);
    width:100%;
    height:55px;
    background-color: var(--white);
    position:relative;
    box-shadow: rgba(119, 119, 119, 0.45) 0px 3px 5px 0px;
    z-index: 10;
    
    a {
        color: var(--text-color);
    }

    @include tablet-only {
        height: 65px;
          }

    @include desktop-only {
        height: 60px;
        justify-content: flex-start;
        padding-left:90px;
    }

}

#logo {
    
    font-family: "Shrikhand";
    color: var(--text-color);
    font-size: 36px;
    cursor: pointer;
}

/* Search */ 

#search {
    @include flexCenter(row);
    height: 50px;
    background-color: var(--mediumgrey);
    font-weight:700;

    @include desktop-only {
        height:70px;
        font-size: 20px;
    }
}

.map_icon {
    display: inline-block;
    padding-right:15px;
}

/* RESERVATION */

#resa {
    @include flexCenter(column);
    padding: 50px 20px 30px 20px ;

    h1, h2 {
        text-align: center;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-weight: 400;
        font-size: 20px;
    }

    @include desktop-only {
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height:240px;
        padding: 20px 50px 0px 50px;

        h1 {
            font-size: clamp(28px, 3vw, 38px);
            text-align:left;
        }

        h2 {
            font-weight: 400;
            font-size: clamp(20px, 2vw, 22px);
            padding-bottom:10px;
        }
    }
  }

.text_resa {
    @include desktop-only {
    @include flexStart;
    margin-right:10%;
    }
}

.input_button {
    @include buttonForm(var(--primary), var(--primary), var(--primary), var(--secondary), 50px, var(--text-button), 20px, 40px, 1.08);
}


/** CONTAINER WITH THE ASIDE AND THE MAIN **/

#column_container  {
    display:flex;
    flex-direction:column;

    @include desktop-only {
        flex-direction:row;
        flex-wrap:nowrap;
        padding: 0 50px;
    }
}

/********** ASIDE - FONCTIONING *********/

aside {
    display:flex;
    flex-direction:column;
    background-color: var(--white);
    padding: 0px 10px 40px 20px;

    h3 {
        display:inline-block;
        font-size:28px;
        padding-top:50px;
        padding-bottom:20px;
    }

    @include tablet-only {

        h3 {
            padding-top:30px;
        }
         }

    @include desktop-only {
        flex:40%;
        order:2;
        padding:0px 10px 40px 20px;
        border-radius: 0px 30px 0px 0px;

        h3 {
            padding-top:30px;
        }
    }
}

.fonctioning {
    display:flex;
    flex-direction:column;

    @include tablet-only {
        flex-direction: row;
        justify-content: center;
    }
}

.item {
    @include boxModel (90%, 90px, var(--lightgrey), none, 30px, rgba(201, 201, 201, 0.45) 0px 4px 10px 5px);
    margin:15px 20px 30px 15px;
    display:flex;
    align-items:center;

    p {
            font-size:18px;
    }

    @include tablet-only {
        width:200px;
        height:250px;
        flex-direction:column;
        
        p {
            font-size:20px;
            line-height: 28px;
            text-align: center;
            padding:25px;
        }
    }

    @include desktop-only {
        height:120px;
        padding-left: 10px;
        
        p {
            padding-right:10px;
        }
    }
}


aside .number {
    height: 30px;
    width:30px;
    border-radius: 50%;
    margin-left: -15px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    @include flexCenter(row);

    @include tablet-only {
        font-size:16px;
        margin-left:0px;
        margin-top:-20px;
        height:40px;
        width:40px;
    }
    @include desktop-only {
        height:40px;
        width:40px;
        margin-left:-20px;
        font-size:18px;
    }   
}

aside .item_icon {
    font-size:20px;
    color: var(--anthracite);
    padding: 0px 25px;

    a {
        color: var(--primary);
    }

    @include tablet-only {
        padding:20px
    }
}


/********** MAIN *********/

#home {
    padding:10px 20px 20px 20px;

    h3 {
        display:block;
        font-size:28px;
        padding-top:50px;
        padding-bottom:20px;
    }

    @include desktop-only {
        flex:60%;
        order:1;
        border-radius: 30px 0px 0px 0px;
        background-color: var(--primary);
        color: var(--white);

        h3{
            padding:20px 0px 30px 40px;
        }
    }
}

/*** RESTAURANT ***/

.home_restaurant {
    display:flex;
    flex-direction:column;

    @include tablet-only {
        flex-direction:row;
        flex-wrap:wrap;
        gap:40px;
        justify-content: center;
        }
    @include desktop-only {
        flex-direction:row;
        flex-wrap:wrap;
        gap:40px;
        justify-content: center;
        }    
    
}

.card {
    position: relative;
    background-color: var(--white);
    width: 100%;
    height: 305px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0px 6px 12px 0px var(--mediumgrey);

    h4 {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        font-size : 20px;
    }
    a {
        color: var(--text-color);
    }

    @include tablet-only {
        width: 350px;
    }

    @include desktop-only {
        max-width: 350px;
        border: 2px solid var(--white);
        box-shadow:none;
    }
}

.card img {
    @include imgSize(100%, 220px, cover, center, 20px 20px 0px 0px);
}

.infos {
    padding: 10px 20px 20px 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.heart {
    font-size:30px;
    margin: 4px 10px 0px 0px;
}


//HEART ICON - 2 div one on the other :
//One div with the heart with black border
//One div with the solid heart with gradient

.card .icon_transparent {
    position:relative;
    z-index:1; 
}

.card .icon_gradient {
    position:absolute;
    background: linear-gradient(215deg, var(--primary), var(--secondary));
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    top:0;
    left:0;
    opacity: 0;
    z-index:2;
    cursor:pointer;

    &:hover {
        animation: heart-animation 500ms linear forwards;
    }
}

@keyframes heart-animation {
    0% 
    {    
    opacity: 0;    
    }

100%{
    opacity:1;
    }
}

.card_new {
    position: absolute;
    top: 20px;
    right: 20px;
    width:100px;
    height:40px;
    background-color: var(--tertiary);
    color: var(--text-color-new);
    font-weight: 900;
    @include flexCenter(row);
}



/********** FOOTER *********/

footer {
    display:flex;
    flex-direction:column;
    padding:25px;
    background-color: var(--anthracite);
    color: var(--white);

    p {
       font-size: 20px;
       line-height: 30px; 
    }

    .css_validator {
        border: 0;
        padding-top: 20px;
    }

    a {
        color: var(--white);
    }

    @include tablet-only {
        align-items:flex-end;
    }

    @include desktop-only {
        @include flexCenter(row);
        padding-right:50px;

        p {
            font-size: 16px;
            padding-left: 40px;
        }
        .css_validator {
            padding-top: 0;
            align-self: flex-end;
        }
    }
}


.logo2 {
    font-family: "Shrikhand";
    font-size: 20px;
    padding-bottom: 15px;

    @include desktop-only {
        font-size: 26px;
        padding-top: 10px;
    }
}
