/* VARIABLES */

$primary : #9356dc;
$secondary : #ff79da;
$tertiary : #99e2d0;
$anthracite : #353535;
$mediumgrey : #eaeaea;
$lightgrey : #f6f6f6;
$text-color: #000;
$white: #fff;

/* MIXINS*/

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}



:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --tertiary: #{$tertiary};
    --anthracite: #{$anthracite};
    --mediumgrey: #{$mediumgrey};
    --lightgrey: #{$lightgrey};
    --text-color: #{$text-color};
    --white: #{$white};
}

/** RESET **/

*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width:100%;
    margin:0 auto;
    color: var(--text-color);
    background-color: var(--lightgrey);
}


/************* HEADER *************/


/* LOGO */

#logo_container {
    @include flexCenter(row);
    width:100%;
    height:60px;
    background-color: var(--white);
    box-shadow: rgba(143, 142, 143, 0.945) 0px 8px 10px -10px;
    z-index: 10;
}

#logo {
    height:38px;
    width: 205px;
    background-image: url(/images/ohmyfood.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* Search */

#search {
    height: 300px;
}

aside {
    background-color: var(--white);
}

footer {
    background-color: var(--anthracite);
    color: var(--white);
}