/** ========== PAGE RESTAURANT ========== **/

/***** HEADER - LOGO *****/
header {
    position: relative;

    img {
        @include imgSize(100%, 270px, cover, center, 0px 0px 0px 0px);
    }
    @include desktop-only {
        img {
            object-position: 50% 60%;
        }
    }
}

// Arrow return index.html

#arrow {
 position: absolute;
 left: 30px;
 margin: 0px;
}

.return_home {
    width: 30px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}


/********* MAIN *********/

#restaurant {
    position: relative;
    margin-top: -30px;
    padding: 30px 20px 0px 20px;
    background-color: var(--lightgrey);
    border-radius: 30px 30px 0px 0px;
    z-index: 10;
    
    h1 {
        font-family: "Shrikhand";
        font-size: 34px;
        line-height: 38px;
        font-weight: lighter;
    }
}

#restaurant_title {
    @include spaceBetween;
}

// HEART WITH ANIMATION: gradient appears on hover
// See the scss/animations/keyframes.scss file

#restaurant_title .heart {
    font-size:30px;
    margin: 4px 10px 0px 0px;
}

#restaurant_title .heart_transparent {
    position: relative;
    z-index: 1;
    cursor: pointer
}

#restaurant_title .heart_gradient {
    position: absolute;
    @include heartGradient;
}

/***** DIV CONTAINER WITH THE THREE CATEGORIES OF DISHES *****/

.categories {
    display:flex;
    flex-direction: column;
    align-content: center;

    @include desktop-only {
        flex-direction:row;
        flex-wrap: wrap;
        overflow: hidden;
        flex-shrink: 0;
        justify-content: space-around;
    }
}

/***** CATEGORY OF DISHES *****/

.category {
    padding-top: 30px;

    h2 {
        position: relative;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom:25px;
        padding-left:5px;

        /*** Green line under the title of the category ****/
        &::after  {
            content:'';
            position:absolute;
            display:inline-block;
            width:50px;
            height:3px;
            top:26px;
            left:5px;
            background-color: var(--tertiary);
        }
    }
    @include tablet-only {
        padding:30px 8% 0px 8%;
        }
    @include desktop-only {
        padding-right: 10px;
    }
}

// DISH BLOCK WITH ANIMATIONS
// See the scss/helpers/mixin.scss file for the include
// See the scss/animations/keyframes.scss file

.dish {
    margin-bottom:20px;
    @include boxModel(100%, 80px, var(--white), none, 15px, rgba(201, 201, 201, 0.45) 4px 4px 12px 2px);
    @include spaceBetween;
    cursor:pointer;
    overflow:hidden;
    animation : dishDown 0.6s linear forwards;
    opacity:0%;
    transition: all 1s;
    &:hover .form_menu {
        @include transLeft (checkIn, 500ms, forwards);

        & .menu_checkbox {
            @include rotTurn(checkMenu, 500ms, 0s);
        }
    }
    @include desktop-only {
        width: 400px;
    }
}

//DISH INFOS
.dish_container {
    width: 100%;
    padding:10px;
    overflow:hidden;
    // margin-right:10px;

    h3 {
        font-size: 20px;
        line-height: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }

    p {
        font-size : 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
    }
}

// PRICE and GREEN BOX WITH CHECK
.dish_left {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.price {
    font-weight: bold;
    min-width:45px;
    padding-right:10px;
    margin-right: 0px;
    transition: margin-right 1s;
}

// GREEN BOX - CHECK ROTATION

//Green Box
.form_menu {
    position: relative;
    @include flexCenter(row);
    flex-shrink: 0;
    width: 0px;
    height: 80px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--tertiary);
    cursor: pointer;
    transform: translateX(75px);
    transition: transform 330ms ease-in-out;
}

// Green Check
input[type="checkbox"].menu_checkbox {
    position: absolute;
    width: 25px;
    height: 25px;
    appearance: none;
    border-radius: 50px;
    background: var(--white);
    cursor: pointer;
    z-index: 4;
}

input[type="checkbox"].menu_checkbox::before {
    content:"\f00c";
    font-family: "Font Awesome 5 Free";
    position:absolute;
    border-radius:50px;
    font-weight:bold;
    font-size:22px;
    color: var(--tertiary);
    @extend %centerElement;
    z-index: 5; 
}

// BUTTON FOR ORDER

.restaurant_button {

    @include flexCenter(row);
    margin-top:40px;
    margin-bottom:40px;
    
    &.input_button {
        @include buttonForm(var(--primary), var(--primary), var(--primary), var(--secondary), 50px, var(--text-button), 0px, 0px, 1.08);
        padding-bottom:80px;
        }
}