// BUTTON FOR FORM WITH A GRADIENT AND A HOVER WITH SHADOW AND BRIGHTNESS

@mixin buttonForm($background, $linear-gradient1, $linear-gradient2, $linear-gradient3, $border-radius, $color, $margin-top, $margin-bottom, $brightness) {
    padding: 15px 20px;
    background: $background;
    background: linear-gradient(355deg, $linear-gradient1 0%, $linear-gradient2 20%, $linear-gradient3 100%);
    border:none;
    border-radius: $border-radius;
    color: $color;
    font-size : 18px;
    letter-spacing: 1px;
    font-weight: 500;
    box-shadow: rgba(112, 111, 111, 0.45) 0px 4px 6px 0px;
    margin-top:$margin-top;
    margin-bottom:$margin-bottom;
   
    &:hover {
        filter: brightness($brightness);
        box-shadow: rgba(59, 59, 59, 0.45) 0px 6px 8px 2px;
        transition: 0.3s ease-out;
        cursor:pointer;
    }
}
